/* @group Author and Tags page */

.archive #author div.avatar{ margin-top: 10px; }
.tag-description{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .left{
        position: relative;
        z-index: 2;
        padding-left: 85px;
        margin: 0 auto;
        width: auto;
        .total{
            font-weight: bold;
        }
    }
    .right{
        font-size: 14px;
    }
    .icon{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        svg{
            width: 60px;
            height: 60px;
        }

    }
}

/* @end */