/* @group Sidebar */

div.left-content{
    margin-right: 0;
    padding-right: 40px;
    .classic &{
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
    .grid-sidebar &, .classic-sidebar &{
        padding-left: 0;
        padding-right: 20px;
    }
    .no-sidebar &{
        padding-right: $grid-gap;
        max-width: $grid-small + 40;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
.no-active-sidebar div.left-content{ width: auto; float: none; }
#sidebar{
    position: relative;
    z-index: 2;
    float: right;
	.widget{
        position: relative;
        margin-bottom: $section-padding;
        padding-bottom: $section-padding;
        border-bottom: 1px solid $border-color;
        &:last-child{ margin-bottom: 0; border-bottom: 0; }
    }
}

/* @end */